// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "color.less";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin        : 0;
	padding       : 0;
	border        : 0;
	font-size     : 100%;
	font          : inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing : 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

@tabletWidth   : 768px;
@mobileWidth   : 500px;
@largeFontSize : 2.5rem;
@mediumFontSize: 1.5rem;
@smallFontSize : 1rem;

.flex-display(@justifyContent, @alignItems) {
	display        : flex;
	justify-content: @justifyContent;
	align-items    : @alignItems;
	flex-wrap      : wrap;
}

:root {
	font-size: 62.5%;

	@media (max-width: @mobileWidth ) {
		font-size: 100%;
	}
}

.container {
	max-width: 800px;
	height   : 100vh;
	margin   : 0 auto;
	padding  : @largeFontSize;

	@media (max-width: @mobileWidth) {
		width: 100vw;
	}

	p {
		font-size  : @mediumFontSize;
		line-height: 1.5;

		@media (max-width: @mobileWidth) {
			font-size: @smallFontSize;
		}
	}

	.navbar {
		width: inherit;
		.flex-display(flex-end, baseline);
		margin-bottom: @mediumFontSize;

		.nav-link {
			padding        : @smallFontSize;
			text-decoration: none;
			color          : @black;

			&:last-of-type {
				padding-right: 0;
			}
		}
	}

	.home {
		.flex-display(flex-start, flex-start);
		flex-direction  : column;
		width           : inherit;
		padding         : @mediumFontSize;
		background-color: @secondary;

		.profile-image {
			width        : 200px;
			margin-bottom: @smallFontSize;

			img {
				width: 100%;
			}
		}

		.intro {
			width         : 100%;
			border-bottom : 1px solid @black;
			padding-bottom: @smallFontSize;

			h1 {
				font-size: @largeFontSize;
				padding  : @smallFontSize 0;

				@media (max-width: @mobileWidth) {
					font-size: @mediumFontSize;
				}
			}
		}

		.hire-me {
			padding-top: @smallFontSize;

			p {
				padding-bottom: @smallFontSize;
			}

			a {
				background-color: @tertiary;
				padding         : @smallFontSize - 0.4 @smallFontSize;
				color           : @white;
				text-decoration : none;
				font-size       : @mediumFontSize;
				line-height     : 1.5;
			}
		}

	}

	#about {
		margin: @mediumFontSize 0;
		.flex-display(space-between, flex-start);

		@media (max-width: @mobileWidth) {
			flex-direction: column;
		}

		h3 {
			font-size     : @largeFontSize;
			padding-bottom: @smallFontSize;

			@media (max-width: @mobileWidth) {
				font-size: @mediumFontSize;
			}
		}

		.education {
			width: 49%;

			h3 {
				margin-bottom: @smallFontSize;
			}

			@media (max-width: @mobileWidth) {
				width: 100%;
			}
		}

		.skills {
			width: 49%;

			@media (max-width: @mobileWidth) {
				width: 100%;
			}

			ul {
				border: 1px solid @secondary;

				li {
					border-bottom: 1px solid @secondary;
					padding      : @mediumFontSize;
					font-size    : @mediumFontSize;

					@media (max-width: @mobileWidth) {
						font-size: @smallFontSize;
					}

					&:last-of-type {
						border-bottom: 0;
					}
				}
			}
		}
	}

	#portfolio {
		width: 100%;

		h3 {
			font-size     : @largeFontSize;
			padding-bottom: @smallFontSize;

			@media (max-width: @mobileWidth) {
				font-size: @mediumFontSize;
			}
		}

		table {
			border-collapse: collapse;
			width          : 100%;

			th {
				padding-top     : 12px;
				padding-bottom  : 12px;
				text-align      : left;
				background-color: @secondary;
				color           : @black;
				font-size: @mediumFontSize;
				@media (max-width: @mobileWidth) {
					font-size: @smallFontSize;
				}
			}

			td,
			th {
				border : 1px solid #ddd;
				padding: 8px;
			}

			tr {
				&:hover {
					background-color: #ddd;
				}

				&:nth-child(even) {
					background-color: #f2f2f2;
				}
			}

		}
	}
	footer {
		width: 100%;
		.flex-display(center, center);
		background-color: @tertiary;
		padding: @mediumFontSize 0;
		color: @white;
	}
}